@model Reservation_Admin.Models.FlightMarkup

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FlightMarkup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdultMarkup" class="control-label"></label>
                <input asp-for="AdultMarkup" class="form-control" />
                <span asp-validation-for="AdultMarkup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildMarkup" class="control-label"></label>
                <input asp-for="ChildMarkup" class="form-control" />
                <span asp-validation-for="ChildMarkup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InfantMarkup" class="control-label"></label>
                <input asp-for="InfantMarkup" class="form-control" />
                <span asp-validation-for="InfantMarkup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplyMarkup" class="control-label"></label>
                <input asp-for="ApplyMarkup" class="form-control" />
                <span asp-validation-for="ApplyMarkup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Airline" class="control-label"></label>
                <input asp-for="Airline" class="form-control" />
                <span asp-validation-for="Airline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountOnAirline" class="control-label"></label>
                <input asp-for="DiscountOnAirline" class="form-control" />
                <span asp-validation-for="DiscountOnAirline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplyAirlineDiscount" class="control-label"></label>
                <input asp-for="ApplyAirlineDiscount" class="form-control" />
                <span asp-validation-for="ApplyAirlineDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meta" class="control-label"></label>
                <input asp-for="Meta" class="form-control" />
                <span asp-validation-for="Meta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountOnMeta" class="control-label"></label>
                <input asp-for="DiscountOnMeta" class="form-control" />
                <span asp-validation-for="DiscountOnMeta" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
